.homepage-bg {
    background-repeat: no-repeat;
    width: 1800px;
  background-size: contain;
  -webkit-animation: backgroundScroll 5s linear 1;
  -webkit-animation-fill-mode: forwards;
  animation: backgroundScroll 15s reverse infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  margin-top: -400px;
  margin-left: -1000px;
  position: absolute;
  z-index: 100; 
  transform: scale(.4);
}

.humanity-road {
    background-image: url("../../images/humanityroadsm.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 141px;
    height: 85px;
    transform: scale(.7);
    transition: all .6s ease-in-out;
    border: 2px solid white;
  }
  
  .chris-long {
    background-image: url("../../images/chrislongfoundation.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 240px;
    height: 85px;
    transform: scale(.7);
    transition: all .6s ease-in-out;
    border: 2px solid white;
  }
  
  .chris-long:hover, .humanity-road:hover {
    position:relative;
    display:block;
    transition: all 1.0s ease-in-out;
    transform: scale(1.1);
    background-color: white;
  }
  

.cloudy {
    background-image: url("../../images/cloudy.png");
    background-position: fixed;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    left: 0;
    margin-left: 0px;
    width: 100%;
    height: auto;
}

.jumbo {
    height: 1000px;
}

.fullscreen-bg {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width:100%;
    display:block;
}

@-webkit-keyframes backgroundScroll {
    from {
        left: 150%;
    }
    to {
        left: 0;
    }
    }
    
    @keyframes backgroundScroll {
        from {
            left: 150%;
        }
        to {
            left: -25%;
        }
        }
    
        
/* Media queries */
/* -------------------------------------- */
@media (min-width: 1201px) {
    .anchor-font {
        margin-left: -120px;
        margin-top: 100px;
        padding: 20px 20px;
        letter-spacing: 10px;
    }
    .cloudy {
        height: auto;
        width: 100%;
    }
}

/* Large desktop */
@media (min-width: 980px) and (max-width: 1200px) {
    .homepage-bg {
        width: 1200px;
        margin-top: -120px;
        margin-left: -100px;
        transform: scale(.45);
      }
      .anchor-font {
        margin-left: -100px;
        margin-top: -50px;
        padding: 10px 10px;
    }
    .cloudy {
        height: 1000px;
        width: auto;
        
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .homepage-bg {
      width: 979px;
      margin-top: -120px;
      margin-left: -400px;
      transform: scale(.4);
    }
    .anchor-font {
        margin-left: 150px;
        margin-top: -100px;
    }
    .cloudy {
        height: 950px;
        width: auto;
        margin-left: -200px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .homepage-bg {
        width: 767px;
        margin-top: -120px;
        margin-left: -300px;
        transform: scale(.35);
      }
      .anchor-font {
        margin-left: 200px;
        margin-top: -150px;
        padding: 10px 10px;
    }
    .cloudy {
        height: 950px;
        width: auto;
        margin-left: -500px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .homepage-bg {
        width: 480px;
        margin-top: -30px;
        /* margin-left: -100px; */
        transform: scale(.2);
      }
      .anchor-font {
        font-size: 150%;
        margin-left: 250px;
    }
}

/* -------------------------------------- */